.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
}

.textarea {
  border: 1px solid #87929d; /* border-slate-300, borders are typically 1px in Tailwind */
  background-color: transparent; /* bg-transparent */
  border-radius: 0.25rem; /* rounded, this equals to 4px */
  padding: 0.25rem 0.5rem; /* px-2 py-1, equals to 8px horizontal and 4px vertical */
  outline: none; /* outline-none */
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 120px;
}

/* focus-within is a pseudo-class, so it needs its own rule */
.textarea:focus-within {
  border-color: #ebf4f8; /* border-slate-100 */
}

/* resize-none is a utility for the resize property, and it requires its own rule */
.textarea {
  resize: none; /* resize-none */
}
