.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  border: 1px solid #87929d;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  outline: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 120px;
}

.textarea:focus-within {
  border-color: #ebf4f8;
}

.textarea {
  resize: none;
}
